.navbar-brand img
{
    width: 110px;
}
.nav-link
{
    color: aqua;
    margin-left: 40px;
}
.wrapper
{
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0 0 40px 2px yellowgreen;
}
.box
{
    padding: 30px;
}
.box h1
{
    color: brown;
    margin-top: 20px;
}
.box h2
{
    color: cadetblue;
    margin: 50px auto;
}
.box a
{
    text-decoration: none;
    background: aquamarine;
    color: coral;
    margin-left: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid orange;
}
.btn-one:hover{
    color: cadetblue;
}
.btn-two:hover{
    color: cadetblue;
}
.home-img
{
    width: 100%;
}
.wave-img
{
    width: 100%;
    z-index:-1;
}